.link {
    margin-top: 40px;
    margin-bottom: 64px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 32px;
    background-color: var(--secondary-bg);
    color: var(--text);
    border-radius: 6px;
    width: min-content;
}

.link span {
    font-size: 0.875rem;
    font-weight: 300;
}

@media (min-width: 81.25rem) {
    .link {
        margin: 90px 0;
    }
    .link span {
        font-size: 1rem;
    }
}